<div class="dashboard">
  <div class="dashboard__main">
    <section class="dashboard__section dashboard__section--user">
      <div class="user-card">
        <div class="user-card__info">
          <img [src]="user.avatarUrl" alt="Аватар" class="user-card__avatar" />
          <div class="user-card__text">
            <div class="user-card__name">{{ user.name }}</div>
            <div class="user-card__email">{{ user.email }}</div>
            <h1 (click)="logout()">Выйти</h1>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="own-products">
  <div class="create-product-wrapper">
    <a [routerLink]="['/create-product']">Создать продукт</a>
  </div>
  <h2>Мои объявления</h2>
  <div class="products-list">
    <div *ngFor="let productDto of products" class="product-card">
      <img [src]="productDto.imageUrl || '/static/default.png'" alt="{{ productDto.name }}" class="product-image"
           width="200"
           height="150"/>
      <h3>{{ productDto.name }}</h3>
      <p>{{ productDto.description }}</p>
      <p><b>Цена:</b> {{ productDto.price }}</p>
      <button [routerLink]="['/update-product', productDto.id]">Редактировать</button>
      <br>
      <button (click)="deleteProduct(productDto.id)">Удалить продукт</button>
    </div>
</div>
</div>
</div>
