<div class="dashboard">
  <div class="dashboard__main">
    <section class="dashboard__section dashboard__section--user">
      <div class="user-card">
        <div class="user-card__info">
          <img [src]="user.avatarUrl" alt="Аватар" class="user-card__avatar" />
          <div class="user-card__text">
            <div class="user-card__name">{{ user.name }}</div>
            <div class="user-card__email">{{ user.email }}</div>
            <h1 (click)="logout()">Выйти</h1>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
