<form class="auth__form" [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (isRestoreMode) {
    <!-- Восстановление пароля -->
    <h1>Восстановление пароля</h1>
    <p>Введите email, связанный с аккаунтом, для отправки кода подтверждения</p>
    <label>
      Email
      <input formControlName="email" placeholder="Введите email для восстановления" type="text">
    </label>
    <button type="button" (click)="sendCode()">Отправить код</button>
    <h4>
      <a href="" (click)="backToLogin($event)">Вернуться к входу</a>
    </h4>
  }
  @else if (isReg) {
    <!-- Регистрация -->
    <h1>Регистрация</h1>
    <p>Для регистрации придумайте имя пользователя, укажите email и придумайте пароль</p>
    <label>
      Имя пользователя
      <input formControlName="username" placeholder="Введите имя пользователя" type="text">
    </label>
    <label>
      Email
      <input formControlName="email" placeholder="example@mail.ru" type="text">
    </label>
    <label>
      Пароль
      <input formControlName="password" type="password" placeholder="******">
    </label>
    <button type="submit">Зарегистрироваться</button>
    <h4>
      <a href="" (click)="switchToLogin($event)">Вернуться ко входу</a>
    </h4>
  }
  @else if (isCodeConfirmMode) {
    <h1>Восстановление пароля</h1>
    <p>Введите проверочный код, отправленный на email и придумайте новый пароль</p>
    <label>
      Код подтверждения
      <input formControlName="code" placeholder="Введите код из письма" type="text">
    </label>
    <label>
      Новый пароль
      <input formControlName="newPassword" type="password" placeholder="******">
    </label>
    <button type="button" (click)="confirmCodeAndUpdatePassword()">Сменить пароль</button>
    <div *ngIf="message">{{ message }}</div>
    <h4>
      <a href="" (click)="backToLogin($event) ">Вернуться к входу</a>
    </h4>
  }
  @else {
    <!-- Логин -->
    <h1>Вход в аккаунт</h1>
    <p>Для входа в аккаунт достаточно ввести имя пользователя или email, а также пароль</p>
    <label>
      Email или Имя пользователя
      <input formControlName="usernameOrEmail" placeholder="example@mail.ru" type="text">
    </label>
    <label>
      Пароль
      <input formControlName="password" type="password" placeholder="******">
    </label>
    <button type="submit">Войти</button>
    <h4>
      Забыли пароль?
      <a href="" (click)="switchToRestore($event)">Восстановить</a>
    </h4>
    <h4>
      Еще нет аккаунта?
      <a href="" (click)="switchToReg($event)">Зарегистрироваться</a>
    </h4>
  }
</form>
