<head class ="own-products">
  <meta charset="UTF-8">
  <title>Страница каталога</title>
</head>
<body>
<h1>Каталог</h1>
<div class="create-product-wrapper">
  <a [routerLink]="['/create-product']">Создать продукт</a>
</div>
<h2>Все объявления</h2>
<div class="products-list">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.imageUrl || '/static/default.png'" alt="{{ product.name }}" class="product-image"
         width="200"
         height="150"/>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p><b>Цена:</b> {{ product.price }}</p>
  </div>
</div>
