<head>
  <meta charset="UTF-8">
  <title>Страница каталога</title>
</head>
<body>
<h1>Каталог</h1>
<div class="create-product-wrapper">
  <a [routerLink]="['/create-product']">Создать продукт</a>
</div>
<h2>Мои объявления</h2>
<div class="products-list">
  <div *ngFor="let product of products" class="product-card">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p><b>Цена:</b> {{ product.price }}</p>
    <button (click)="deleteProduct(product.id)">Удалить продукт</button>
  </div>
</div>
